
body{
    background-color: white;
    color:black ;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.boxes{
    height: 35px;
    width: 250px;
    text-align: center;
    background-color: #22242A;
    border-radius: 5px;
    
}
a{
    text-decoration: none;
    color: #1b2cc1;
    font-size: 22px;   
}
.boxes:hover{
    border: 1px solid blue;
    scale: 1.05;
}
.container{
    margin-top: 150px;
    margin-bottom: 100px;
}